/*ITIS 3135 Activity 3 css file*/

/*styling for the whole page goes here*/
body {
	font-size: 12px;
    background-color: grey;
	color: lightblue;
}

/*styling for the page title*/
h1 {
	font-style: italic;
	font-size: 20px;
    text-align: center;
    background-color: darkgray;
	color: blue;
}

/*styling for the overall table*/
table {
    background-color: grey;
	border: solid 2px slateblue;
}

/*styling for the title of the table*/
th {
    font-weight: bold;
    text-align: left;
}

/*styling for the coffee types*/
.label {
    font-weight: bold;
}

/*styling for the tables*/
.altrow {
	background-color: #E0E0E0;
}

/*styling for the Google Map link*/
#locationlink {
	color: #380000;
	font-style:italic;
}

/*styling for the bottom copyright information*/
footer {
    font-style: italic;
	font-size: 8px;
	text-align: center;
}
